/*
 * This file is part of krei. It is subject to the license terms in the LICENSE file found in the top-level
 * directory of this distribution and at http://creativecommons.org/publicdomain/zero/1.0/. No part of krei,
 * including this file, may be copied, modified, propagated, or distributed except according to the terms contained
 * in the LICENSE file.
 */

#site {
    display: grid;
    grid-template-rows: auto auto 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "content" "navigation" "footer";
}

#header {
    grid-area: header;
    visibility: hidden;
}

#navigation {
    grid-area: navigation;
}

#content {
    grid-area: content;
    padding-left: 15px;
    padding-right: 30px;
}

#footer {
    grid-area: footer;
}
